<div class="card" style="height: 460px; margin-bottom: 16px;">
    <h3 class="card-title">Notice</h3><br>
    <div class="notice important">
      <span>중요 공지입니다.</span>
      <span style="vertical-align: middle; float: right;">
        <span class="material-icons-round" style="vertical-align: middle;">visibility</span> 1000&nbsp;&nbsp;
        <span class="material-icons-round" style="vertical-align: middle;">calendar_today</span> 2022-07-28
      </span>
    </div>
    <% for(var i = 0; i < 5; i++ ) {%>
    <div class="notice">
      <span>공지입니다.</span>
      <span style="vertical-align: middle; float: right;">
        <span class="material-icons-round" style="vertical-align: middle;">visibility</span> 1000&nbsp;&nbsp;
        <span class="material-icons-round" style="vertical-align: middle;">calendar_today</span> 2022-07-28
      </span>
    </div>
    <% } %>
  </div>