<div class="page-content">
  <div class="row">
    <div class="col">
      <%- include('comp-notice')%>
    </div>
    <div class="col-4">
      <form action="signin" method="post">
        <div class="card" style="height: 460px; margin-bottom: 16px;">
          <h3 class="card-title">Login</h3><br>
          <p class="card-subtitle" style="text-align: start;">아이디</p>
          <% if(!signinStates.uidState) { %>
            <input class="card-input-text-err" name="uid" type="text" placeholder="아이디를 입력하세요."><br>
          <% } else { %>
            <input class="card-input-text" name="uid" type="text" placeholder="아이디를 입력하세요."><br>
          <% } %>
          <p class="card-subtitle" style="text-align: start;">비밀번호</p>
          <% if(!signinStates.upwState) { %>
            <input class="card-input-text-err" name="upw" type="password" placeholder="비밀번호를 입력하세요."><br>
          <% } else { %>
            <input class="card-input-text" name="upw" type="password" placeholder="비밀번호를 입력하세요."><br>
          <% } %>
          <input class="card-btn-signin" type="submit" value="로그인">
          <p class="card-subtitle" style="text-align: start;">아이디가 없으신가요? <span ></span></p>
          <button class="card-btn-signin" onclick="location.href='signup'">회원가입하기</button>
        </div>
      </form>
    </div>
  </div>
</div>