<!DOCTYPE html>
<html>
  <% include ./head.ejs %>
  <body>
    <% include ./dev.ejs %>
    <a class="goHome" href="/">
        <span></span>
        <span></span>
    </a>
    <div class="page sign">
        <div class="logo">국방퀴즈</div>
        <div class="title">
            404
        </div>
        <a class="btn btn-blue" href="/">홈으로</a>
    </div>
  </body>
  <script src="/javascripts/scroll.js"></script>
</html>
