<!-- 에러화면 ejs -->
<!DOCTYPE html>
<html>
  <% include ./head.ejs %>
  <body>
    <a class="goHome" href="/">
        <span></span>
        <span></span>
    </a>
    <div class="page errorPage">
        <div class="logo">국방퀴즈</div>
        <div class="title"><%= error.status %></div>
        <div class="subTitle"><%= message %></div>
        <a class="btn btn-blue" href="/">홈으로</a>
    </div>
  </body>
  <script src="/javascripts/scroll.js"></script>
</html>
