<!-- ejs head 컴포넌트 -->
<head>
    <title><%=title%></title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- JQuery Last Version -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Apple emoji -->
    <link rel='stylesheet' href='https://unpkg.com/emoji.css/dist/emoji.min.css'>
    <!-- Apple SD gothic Neo -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/all.min.css">
    <!-- Local CSS -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/unit.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet">
    <link href="../stylesheets/unit.css" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'establishRetrosansOTF';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>