<!DOCTYPE html>
<html>
  <% include ./head.ejs %>
  <body>
    <div class="main">
      <% include ./nav.ejs %>
      <div class="row" style="margin-top: 64px; margin-bottom: 64px;">
        <div class="col-3" data-aos="fade-right">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">오늘의 퀴즈</h2>
              <h6 class="card-subtitle">오늘의 퀴즈를<br>풀어보세요!</h6>

            </div>
          </div>
        </div>
        <div class="col-3" data-aos="fade-up">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">경쟁전</h2>
              <h6 class="card-subtitle">경쟁전에 참가하여<br>부대 랭킹을 올려보세요!</h6>
            </div>
          </div>
        </div>
        <div class="col-3" data-aos="fade-down">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">부대 랭킹</h2>
              <h6 class="card-subtitle">본인이 속한 부대 랭킹을<br>확인해 보세요!</h6>
            </div>
          </div>
        </div>
        <div class="col-3" data-aos="fade-left">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">마이페이지</h2>
              <h6 class="card-subtitle">본인의 전적 등 다양한<br>정보를 확인해 보세요!</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h1>test</h1>
      </div>
    </div>
  </body>
  <script src="/javascripts/scroll.js"></script>
</html>
