<!DOCTYPE html>
<html>
  <% include ./head.ejs %>
  <body>
    <% if(signinState) { %>
      <% include ./home.ejs %>
    <% } else { %>
      <% include ./welcome.ejs %>
    <% } %>
  </body>
  <script src="/javascripts/scroll.js"></script>
</html>
