<div class="navbar">
    <div class="logo">국방퀴즈</div>
    <div class="menu">
        <a class="tab" href="quiz-today">오늘의 퀴즈<span></span></a>
        <a class="tab" href="quiz-rank">경쟁전 참가<span></span></a>
        <a class="tab" href="ranking">부대 랭킹<span></span></a>
        <a class="tab" href="mypage">마이페이지<span></span></a>
    </div>
    <div class="user-menu">
        <a class="btn-sm btn-light-gray" href="/signin">로그인</a>
        <a class="btn-sm btn-blue" href="/signup">회원가입</a>
    </div>
</div>