<nav class="navbar" style="background-color: white;">
  <div class="container">
    <a class="navbar-brand" href="/">
      <h1 class="logo">QUIZ</h1>
    </a>
    <div class="navbtn-group">
      <button class="navbtn">로그인</button>
      <button class="navbtn">회원가입</button>
    </div>
  </div>
</nav>