<div class="navbar">
    <div class="logo">국방퀴즈</div>
    <div class="menu">
        <a class="tab">오늘의 퀴즈</a>
        <a class="tab">경쟁전 참가</a>
        <a class="tab">부대 랭킹</a>
        <a class="tab">마이페이지</a>
    </div>
    <div class="user-menu">
        <a class="btn-sm btn-light-gray" href="/singin">로그인</a>
        <a class="btn-sm btn-blue" href="/singup">회원가입</a>
    </div>
</div>