<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>나는 신찬휘임</h1>
    <table class="table">
        <thead>
          <tr>
			<th>등수</th>
            <th>부대코드</th>
            <th>부대 점수</th>
            <th>가입자 수</th>
          </tr>
        </thead>
        <tbody>
			<% for(var i = 0; i < res3.length; i++){ %>
			<tr>
				<th><%= i+1%></th>
				<td scope="row"><%= res3[i].uunitcode%></td>
				<td><%= res3[i].score%></td>
				<td><%= res3[i].num%></td>
			</tr>   
			<% } %>     
        </tbody>
      </table>

	<!-- form action -->
	<form class="search" action="/ranking" method="post">
		<input name="unitcode" type="text" placeholder="부대코드" >
		<input type="submit" value="검색">
	</form>



    <!-- 표 -->
        <!-- 개인 등수 -->
        <!-- 부대 랭킹 -->

    
    <!-- input 값 주면 -->
        <!-- 해당 부대 랭킹 -->


    </body>
</html>