<!DOCTYPE html>
<html>
  <% include ./head.ejs %>
  <body style="background-color: #3A7959;">
    <div class="page" style="height: auto;">
      <div class="row">
        <div class="col"></div>
        <div class="col-3">
          <div class="row" style="margin-top: 15vh;">
            <div class="col">
              <form action="signup" method="post">
                <div class="card" style="margin-bottom: 16px;">
                  <h3 class="card-title">SignUp</h3><br>
                  <p class="card-subtitle" style="text-align: start;">아이디</p>
                  <input class="card-input-text" type="text" name="uid" placeholder="아이디를 입력하세요."><br>
                  <p class="card-subtitle" style="text-align: start;">비밀번호</p>
                  <input class="card-input-text" type="password" name="upw" placeholder="비밀번호를 입력하세요."><br>
                  <p class="card-subtitle" style="text-align: start;">이름</p>
                  <input class="card-input-text" type="text" name="uname" placeholder="이름을 입력하세요."><br>
                  <p class="card-subtitle" style="text-align: start;">부대코드</p>
                  <input class="card-input-text" type="number" name="uunitcode" placeholder="부대코드를 입력하세요."><br>
                  <input class="card-btn-signin" type="submit" value="회원가입하기">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </body>
  <script src="/javascripts/scroll.js"></script>
</html>
