<!-- 회원가입 ejs -->
<!DOCTYPE html>
<html>
<% include ./head.ejs %>

    <body>
        <a class="goHome" href="/" title="홈으로">
            <span></span>
            <span></span>
        </a>
        <div class="page sign">
            <div class="logo">국방퀴즈</div>
            <div class="title">
                회원가입
            </div>
            <%if(errorData.id != ""){%>
                <div class="error"><%=errorData.msg%></div>
            <%}%>
            <form class="input" action="signup" method="post">
                <input class="data" name="uid" type="text" placeholder="아이디를 입력해주세요.">
                <input class="data" name="upw" type="password" placeholder="비밀번호를 입력해주세요.">
                <input class="data" name="uname" type="text" placeholder="이름을 입력해주세요.">
                <input class="data" name="uunitcode" type="number" placeholder="부대코드를 입력해주세요." min="1">
                <input class="func btn btn-blue" type="submit" value="회원가입">
            </form>
            <p>이미 아이디가 있으신가요? <a href="signin">로그인</a></p>
        </div>
    </body>
    <script src="/javascripts/scroll.js"></script>

</html>