<html>

<head>
    <% include ./head.ejs %>
</head>
<body>
    <% include ./dev.ejs %>
    <div class="page ranking">
        <div class="notice">x님이 문제를 맞췄습니다.</div>
        <div class="title">경쟁전 #0000</div>
        <div class="quiz">
            1 + 1 = ?
        </div>
        <div class="answer">
            <div class="btn btn-blue">1번</div>
            <div class="btn btn-blue">2번</div>
            <div class="btn btn-blue">3번</div>
            <div class="btn btn-blue">4번</div>
        </div>
        <div class="chat">
            <div id="chatLogs" class="log"></div>
            <form class="chatinput" action="">
                <input id="m" type="text">
                <input type="submit">
            </form>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        $(() => {
            const socket = io();
            const name = `<%=udata.uid%>`;
            let msg = { name: name, messege: "" }
            socket.emit('login', msg);
            $('.chatinput').submit(() => {
                let msg = { name: name, messege: $('#m').val() }
                socket.emit('chat', msg);
                $('#m').val('');
                return false;
            });
            socket.on('chat', (msg) => {
                $('#chatLogs').append($('<p>').text(msg.name + '  :  ' +
                    msg.messege));
            });
            socket.on('login', (msg) => {
                $('#chatLogs').append($('<p>').text(msg.name + "유저가 들어왔습니다."));
            });
            socket.on('logout', (msg) => {
                $('#chatLogs').append($('<p>').text("유저가 나갔습니다."));
            });
        });
    </script>
</body>

</html>