<!DOCTYPE html>
<html lang="en">

<head>
    <%-include head.ejs%>
</head>

<body>
    <div id="realresults">
        <div class="col-md-12">
            <div class="col-md-6">
                <h4>My Score <b>
                        <div id="myresult">0</div>
                    </b></h4>
            </div>
            <div class="col-md-6" style="text-align:right;">
                <h4>Opponent Score<b>
                        <div id="otherresult">0</div>
                    </b></h4>
            </div>
        </div>
    </div>

    <!-- 매칭후 대기화면 -->
    <div class="rules">
        <div class="logo">국방퀴즈</div>
        <div class="title">
            대결 상대를 찾았습니다!
        </div>
        <div class="loading">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="subTitle">
            게임이 10초 후에 시작됩니다...
        </div>
        <div class="panel">
            <h3 class="title">규칙</h3>
            <div class="desc">
                <p>1. 각 퀴즈는 <strong>10초</strong>간 진행됩니다.</p>
                <p>2. 답을 누르신 후, 변경이 불가능합니다.</p>
                <p>3. 총 10개의 퀴즈로 구성되었으며, 하나의 퀴즈에 4개의 답변이 제공됩니다.</p>
            </div>
        </div>
    </div>


    <div class="row started" id="realtime">
        <div class="question">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2>
                        <br>
                        <p id="qst"></p>
                    </h2>
                </div>
            </div>
        </div>

        <div class="choices">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-3">
                    <button id="btn1" value=""></button>
                </div>
                <div class="col-md-3  col-sm-6">
                    <button id="btn2" value=""></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-3">
                    <button id="btn3" value=""></button>
                </div>
                <div class="col-md-3 col-sm-6">
                    <button id="btn4" value=""></button>
                </div>
            </div>
        </div>
    </div>
    <!-- 문제 맞췄을 때 팝업 -->
    <div class="current_res_c text-center">
        <div class='alert' role='alert'>정답입니다.</div>
    </div>
    <!-- 문제 틀렸을 때 팝업 -->
    <div class="current_res_w text-center">
        <div class='alert' role='alert'>오답입니다.</div>
    </div>

    <div class="intermediate">
        <div id="conversation"> </div>
    </div>


    <!-- 시작전, 화면 -->
    <div class="just_start">
        <a class="goHome" href="/" title="홈으로">
            <span></span>
            <span></span>
        </a>
        <div class="mainContent">
            <div class="logo">국방퀴즈</div>
            <div class="title">경쟁전</div>
            <div class="subTitle">경쟁전에 참여하고 포인트를 모아보세요!</div>
            <input type="hidden" id="input_user" value="<%=udata.uid%>"><br>
            <button class="btn btn-lg btn-start" id='btnJoin'>게임 시작</button>
        </div>
        <div class="subContent">
            <div class="title">경쟁전 랭킹</div>
        </div>
    </div>


    <div id="view_result"></div>


    <div class="loading-page">
        <div class="counter">
            <h3>0sec</h3>
            <hr>
        </div>
    </div>

    <!--Timer-->

    <div id="finalresult_show">
        <div id="finalresult"></div>
        <a class="btn btn-blue" href="/quiz-rank">Play Again</a>
    </div>
</body>

</html>