<!DOCTYPE html>
<html>
<% include ./head.ejs %>
  <body>
    <form action="test" method="post" enctype="multipart/form-data">
      <input type="file" name="img" />
      <input type="submit">
    </form>
    <h1><%=title%></h1>
  </body>

</html>