<!DOCTYPE html>
<html lang="en">

<head>
    <%-include head.ejs%>
</head>

<body>
    <!-- 문제 맞췄을 때 팝업 -->
    <div class="current_res_c">
        <div class='alert' role='alert'><span class="ec ec-plus1"></span>정답입니다.</div>
    </div>
    <!-- 문제 틀렸을 때 팝업 -->
    <div class="current_res_w">      
        <div class='alert' role='alert'><span class="ec ec-cry"></span>오답입니다.</div>
    </div>
</body>

</html>