<!DOCTYPE html>
<html>
  <%- include ./head %>
  <body style="background-color: #3A7959;">
    <%- include ./dev %>
    <div class="page">
      <div class="page" style="height: 100%; background-image: url('/images/main.jpg'); background-size: cover; filter: brightness(40%); opacity: 0.8;">
      </div>
      <div class="scroll-downs">
        <div class="mousey">
          <div class="scroller"></div>
        </div>
      </div>
    </div>
    <div class="page" style="height: auto;">
      <div class="page-content">
        <div class="row">
          <div class="col">
            <div class="card" data-aos="fade-right" data-aos-anchor-placement="top-center">
              <div class="card-body">
                <h3 class="card-title">오늘의 퀴즈</h3>
                <p class="card-text">오늘의 퀴즈를 풀고 부대 랭킹을 올려보세요.</p>
              </div>
            </div>
          </div>
          <div class="col-4"></div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col">
            <div class="card" data-aos="fade-left" data-aos-anchor-placement="top-center">
              <div class="card-body">
                <h3 class="card-title">대전 모드</h3>
                <p class="card-text">유저들과 대결을 통해 부대 랭킹을 올려보세요.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card" data-aos="fade-right" data-aos-anchor-placement="top-center">
              <div class="card-body">
                <h3 class="card-title">부대 랭킹</h3>
                <p class="card-text">부대 랭킹을 확인해보세요.</p>
              </div>
            </div>
          </div>
          <div class="col-4"></div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col">
            <div class="card" data-aos="fade-left" data-aos-anchor-placement="top-center">
              <div class="card-body">
                <h3 class="card-title">마이페이지</h3>
                <p class="card-text">오답 노트를 통해 틀렸던 퀴즈를 복습하고 개인 전적을 확인해보세요.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <h1 style="color: white;">로그인 넣을 자리</h1>
    </div>
  </body>
  <script src="/javascripts/scroll.js"></script>
</html>
