body {
    display: flex;
    border: 1px solid red;
    background-color: red;
}

.page-header {
    padding: 20px;
    display: flex;
}
.page-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}
#chatLogs {
    background-color: gray;
    overflow: scroll;
}
