<nav class="navbar">
    <div class="logo">
        <img src="images/js.png" width="48px" height="48px" alt="">
    </div>
    <div class="services">
        <p>오늘의퀴즈</p>
        <p>경쟁전</p>
        <p>부대랭킹</p>
        <p>마이페이지</p>
    </div>
    <div class="user">
        <p>로그인</p>
        <p>회원가입</p>
    </div>
</nav>