<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ./head.ejs %>
</head>
<body class="grid-bg">
    <%- include ./nav.ejs %>
    <div class="page">
        <p class="title txt-shadow" data-aos="fade-up">국방퀴즈</p>
    </div>
    <div class="page">
        <h1>asdasdadadad</h1>
    </div>
    <div class="page">
        <h1>asdasdadadad</h1>
    </div>
</body>
<script>AOS.init();</script>
</html>