* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #3A7959;
}

.navbar {
  vertical-align: middle;
  border: 2px solid black; 
  border-bottom: 4px solid black; 
  border-radius: 16px;
}

.navbtn-group {
  vertical-align: bottom;
  float: right;
}

.navbtn {
  padding: 8px 16px;
  margin: 0 4px;
  color: white;
  background-color: #307672;
  border: 2px solid black; 
  border-bottom: 4px solid black; 
  border-radius: 16px;
}

.navbtn:active {
  margin-top: 2px;
  border-bottom: 2px solid black;
}

.page {
  background-color: #3A7959;
  margin: 0;
  height: 100vh;
  position: relative;
}

.page-content {
  width: 1280px; 
  max-width: 1280px; 
  margin: 0 auto; 
  padding: 128px 16px;
}

.page .page-content .row .col .card {
  padding: 16px;
  margin-bottom: 64px; 
  height: 256px;
}

.main {
  width: 960px;
  margin: auto;
  padding-top: 24px;
}

.logo {
  margin: 0;
  color: #307672;
  font-family: 'Jua', sans-serif;
}

.logo-welcome {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: white;
}

.card {
  text-decoration: none;
  margin-top: 16px;
  padding: 32px;
  text-align: center; 
  border: 2px solid black; 
  border-bottom: 6px solid black; 
  border-radius: 16px;
}

.card-body {
  margin: auto auto;
  vertical-align: middle;
}

.card-title {
  color: #fff;
  font-family: 'yg-jalnan', normal;
  -webkit-text-stroke: 2px black;
  text-shadow : 0 3px 0 black;
}

.card-title strong {
  padding: 4px;
  margin: 4px;
  background-color: #CD4935;
}

.card-subtitle {
  color: #1A3C40;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
}

.card-input-text {
  background-color: #E4EDDB;
  padding: 8px 16px;
  margin-top: 4px;
  border: 2px solid black; 
  border-bottom: 4px solid black; 
  border-radius: 16px;
  transition: all 0.1s;
}
.card-input-text:focus {
  background-color: white;
  font-weight: bold;
  margin-top: 0;
  border-bottom: 8px solid black; 
}

.card-input-text-err {
  background-color: #F3D8DA; 
  font-weight: bold;
  padding: 8px 16px;
  margin-top: 4px;
  border: 2px solid black; 
  border-bottom: 4px solid black; 
  border-radius: 16px;
  transition: all 0.1s;
}
.card-input-text-err:focus {
  color: black;
  background-color: white;
  margin-top: 0;
  border-bottom: 8px solid black; 
}
.card-input-text-err::placeholder {
  color: #79282C; 
}

.card-btn-c1 {
  padding: 8px 16px;
  margin-top: 8px;
  color: white;
  background-color: #307672;
  border: 2px solid black; 
  border-bottom: 4px solid black; 
  border-radius: 16px;
}

.card-btn-c2 {
  padding: 8px 16px;
  margin-top: 8px;
  color: black;
  background-color: white;
  border: 2px solid black; 
  border-bottom: 4px solid black; 
  border-radius: 16px;
  text-align: center;
}

.card-btn-signin {
  padding: 8px 16px;
  margin-top: 8px;
  color: white;
  background-color: #307672;
  border: 2px solid black; 
  border-bottom: 4px solid black; 
  border-radius: 16px;
}

.card-btn-c1:active, .card-btn-c2:active, .card-btn-signin:active {
  margin-top: 10px;
  border-bottom: 2px solid black; 
}

.cart-q {
  padding: 16px;
}

.card-a {
  padding: 16px;
  text-align: start;
}

.popup-1 {
  height: 250px;
  margin-top: 16px;
  border: 2px solid black; 
  border-bottom: 4px solid black; 
  border-radius: 16px;
}

.popup-1:hover {
  margin-top: 8px;
  border: 2px solid black; 
  border-bottom: 12px solid black; 
}

.popup-2 {
  margin-top: 12px;
  border: 2px solid black; 
  border-bottom: 8px solid black; 
  border-radius: 16px;
}

.popup-2:hover {
  background-color: #F3D8DA;
  margin-top: 8px;
  border-bottom: 12px solid black; 
  font-weight: bold;
}

.popup-2:active {
  background-color: #F3D8DA;
  font-weight: bold;
  margin-top: 16px;
  border: 2px solid black; 
  border-bottom: 4px solid black; 
}

.answer {
  display: none;
}
.answer:checked + label {
  background-color: #F3D8DA;
  font-weight: bold;
  margin-top: 16px;
  border: 2px solid black; 
  border-bottom: 4px solid black; 
}

.alert {
  font-weight: bold;
  padding: 8px 16px;
  margin: 16px 0;
  margin-top: 16px; 
  border: 2px solid black; 
  border-bottom: 8px solid black;
  border-radius: 16px;
  animation-name: alert;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: 1;
}

@keyframes alert {
  0% { margin-top: 22px; border-bottom: 2px solid black; opacity: 0; }
  10% { opacity: 1; }
  100% { margin-top: 16px; border-bottom: 8px solid black;  opacity: 1;}
}

.notice {
  text-align: start;
  background-color: white;
  padding: 8px 16px;
  margin-top: 4px;
  border: 2px solid black; 
  border-bottom: 4px solid black; 
  border-radius: 16px;
}

.important {
  color: white;
  background-color: #CD4935;
  border-bottom: 5px solid black; 
}

.scroll-downs {
  position: absolute;
  top: 80%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

.txt-color-white {
  color: white;
}
.txt-color-black {
  color: black;
}
.txt-color-red {
  color: #CD4935;
}
.txt-color-yellow {
  color: #EBC044;
}
.txt-color-green {
  color: #3A7959;
}
.txt-color-sky {
  color: #4690BF;
}
.txt-color-blue {
  color: #3C4997;
}

.bg-color-white {
  color: black;
  background-color: white;
}
.bg-color-black {
  color: white;
  background-color: black;
}
.bg-color-red {
  background-color: #CD4935;
}
.bg-color-yellow {
  background-color: #EBC044;
}
.bg-color-green {
  background-color: #3A7959;
}
.bg-color-sky {
  background-color: #4690BF;
}
.bg-color-blue {
  background-color: #3C4997;
}
.margin-bottom-8 {
  margin-bottom: 8px;
}
.margin-bottom-16 {
  margin-bottom: 16px;
}
.margin-bottom-24 {
  margin-bottom: 24px;
}
.margin-bottom-48 {
  margin-bottom: 48px;
}