:root {
    --white: rgb(255, 255, 255);
    --blue-white: rgb(207, 221, 252);
    --blue-light: rgb(76, 131, 255);
    --blue: rgb(0, 79, 255);
    --blue-dark: rgb(52, 103, 217);
    --gray-light: rgb(238, 242, 246);
    --gray-semi-light: rgb(197, 202, 213);
    --gray: rgb(79, 81, 84);
    --gray-dark: rgb(51, 52, 56);
    --semi-black: rgb(21, 21, 22);
    --black: rgb(23, 23, 24);
}

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--semi-black);
    color: var(--white);
}

/* nav.ejs css */
.navbar {
    display: flex;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    border: none;
    color: white;
    transition: background-color .3s;
}

.navbar-bg {
    background-color: rgba(21, 21, 22, 0.5);
    border-bottom: 1px solid var(--gray);
}

.navbar>.logo {
    margin-left: 20px;
    color: var(--white);
    font-size: 24px;
    font-family: 'establishRetrosansOTF';
}

.navbar>.logo:hover {
    color: var(--gray-light);
}

.navbar>.menu {
    display: flex;
    flex-direction: row;
}

.navbar>.menu>.tab {
    position: relative;
    padding: 8px 12px;
    text-align: center;
    font-size: 14px;
}

.navbar>.menu>.tab>span {
    width: 0px;
    transition: width .3s;
}

.navbar>.menu>.tab:hover>span {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 2px;
    background-color: var(--white);
    border-radius: 1px;
    transition: width .3s;
}

.navbar>.user-menu {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    font-size: 14px;
}

.navbar>.user-menu>a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.navbar>.user-menu>a>img {
    margin: 0 8px;
    width: 36px;
    height: 36px;
    background-color: var(--blue-white);
    border-radius: 50%;
    overflow: hidden;
}

/* 구분자 css */
.page {
    height: 100vh;
}

/* welcome.ejs css */
.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-width: 960px;
}

.welcome>.title {
    margin-bottom: 24px;
    color: var(--white);
    font-size: 96px;
    font-weight: bold;
    text-align: center;
    line-height: 120%;
}

.welcome>.subTitle {
    margin-bottom: 36px;
    color: var(--gray-semi-light);
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    line-height: 160%;
}

/* welcome.ejs 소개 css */
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 960px;
    height: 30vh;
}

.intro>.content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    width: 25%;
    height: 100%;
    background-color: var(--black);
    border-radius: 8px;
    overflow: hidden;
}

.intro>.content>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    opacity: .7;
    transition: all .3s;
}

.intro>.content>.title {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    text-align: center;
    transform: translateY(300%);
    transition: all .3s;
}

.intro>.content>.desc {
    margin: 0 20px;
    height: 64px;
    font-size: 16px;
    color: var(--gray-semi-light);
    text-align: center;
    transform: translateY(400%);
    transition: all .3s;
}

.intro>.content:hover>img {
    opacity: .2;
}

.intro>.content:hover>.title,
.intro>.content:hover>.desc {
    transform: translateY(0%);
}

/* welcome.ejs 공지사항 css */
.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    width: 100%;
    max-width: 960px;
    height: 90vh;
}

.board>.title {
    margin-bottom: 48px;
    color: var(--white);
    font-size: 32px;
    font-weight: bold;
}

.board>.postList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.board>.postList>.post {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 16px;
    width: 100%;
    height: auto;
    background-color: var(--white);
    border-radius: 8px;
    overflow: hidden;
}

.post>.title {
    display: flex;
    align-items: center;
    padding: 16px;
    color: var(--semi-black);
    font-size: 20px;
    font-weight: bold;
}

.post>.title>span {
    margin-right: 8px;
    padding: 4px 8px;
    background-color: var(--blue-white);
    border-radius: 8px;
    color: var(--blue);
    font-size: 14px;
    font-weight: bold;
}

.post>.desc {
    padding: 0 24px;
    height: 0px;
    background-color: var(--gray-light);
    border-radius: 0 0 8px 8px;
    color: var(--gray-dark);
    font-size: 16px;
    overflow: hidden;
    transition: all .3s;
}

.desc.show {
    padding: 24px;
    height: 100px;
}

.about {
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 70vh;
}

.about>.title {
    color: var(--white);
    font-size: 96px;
    font-weight: bold;
}

.about>.subTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: var(--white);
    font-size: 36px;
    font-weight: bold;
}

.about>.subTitle>p {
    position: relative;
    margin: 8px;
}

.about>.subTitle>p:hover {
    color: var(--gray-dark);
}

.about>.subTitle>p>span {
    display: none;
}

.about>.subTitle>p:hover>span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4px 8px;
    background-color: var(--white);
    border: 1px solid var(--gray-semi-light);
    border-radius: 8px;
    text-align: center;
    color: var(--black);
    font-size: 16px;
}

.about>.license {
    margin-top: 32px;
    color: var(--gray-semi-light);
    font-weight: 300;
}

.about>.license>strong {
    color: var(--white);
    font-weight: 500;
}

/* singin.ejs css */
.sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sign>.logo {
    font-size: 24px;
    font-family: 'establishRetrosansOTF';
}

.sign>.title {
    margin-bottom: 12px;
    font-size: 56px;
    font-weight: bold;
}

.sign>.subTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign>.subTitle>p {
    text-align: center;
}

.sign>.subTitle>p:first-child {
    margin: 8px;
    padding: 16px 20px;
    background-color: var(--white);
    border-radius: 8px;
    color: var(--semi-black);
}

.sign>.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign>.input>.data {
    margin-bottom: 20px;
    padding: 16px 20px;
    width: 200px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--gray-light);
    color: var(--gray-light);
    font-size: 16px;
    outline: none;
    transition: all .3s;
}

.sign>.input>.data:focus {
    width: 220px;
    background-color: rgba(255, 255, 255, .6);
    border-bottom: 2px solid var(--white);
    color: var(--white);
    font-weight: bold;
}

.sign>.input>.func {
    width: 240px;
    margin-right: 0;
}

.sign>p {
    color: var(--gray-light);
    font-size: 14px;
}

.sign>p>a {
    color: var(--white);
    font-weight: bold;
    text-decoration: underline;
}


.uinfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 960px;
}
.uinfo>.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.uinfo>.row>.upic {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.uinfo>.row>.upic>img {
    margin-bottom: 20px;
    width: 256px;
    height: 256px;
    background-color: var(--gray);
    border: 1px solid var(--gray-light);
    border-radius: 50%;
}
.filebox>input[type="file"] {
    display: none;
}
.uinfo>.row>.col {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: flex-start;
}
.uinfo>.row>.col>.data {
    display: flex;
    flex-direction: column;
    color: var(--white);
    font-size: 28px;
}

.btn {
    margin-right: 8px;
    padding: 12px 24px;
    border-radius: 29px;
    font-size: 16px;
    font-weight: bold;
}

.btn-sm {
    margin-right: 8px;
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}

.btn-blue {
    background-color: var(--blue);
    border: 1px solid var(--blue-light);
    color: var(--white);
}

.btn-light-blue {
    background-color: var(--blue-white);
    border: 1px solid var(--blue-light);
    color: var(--blue);
}

.btn-light-gray {
    background-color: var(--gray-dark);
    border: 1px solid var(--gray);
    color: var(--white);
}

.btn-blue:hover,
.btn-light-blue:hover,
.btn-light-gray:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--white);
    color: var(--white);
}

.goHome {
    display: block;
    position: fixed;
    top: 64px;
    right: 64px;
    width: 64px;
    height: 64px;
}

.goHome:hover {
    background-color: var(--white);
    opacity: .5;
}

.goHome>span:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 2px;
    background-color: var(--white);
    transform: translate(-50%, -50%) rotate(45deg);
}

.goHome>span:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 2px;
    background-color: var(--white);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.goHome:hover>span {
    background-color: var(--black);
    opacity: 1;
}